<mat-card class="example-card">
<mat-card-header>
<mat-card-title>{{product.productName}}</mat-card-title>
</mat-card-header>
<img mat-card-image [src]="product.imageURL">
<mat-card-content>
<p>
{{product.price | currency:'USD'}}
</p>
</mat-card-content>

<mat-card-actions class="card-footer-button">
  <button *ngIf="quantity===0; else updateQuantity"
  (click)="addToCart()"class="btn btn-primary btn-block">
  Add to Cart
 </button>
 <ng-template #updateQuantity>
   <product-quantity [productId]="product.id" [quantity]="quantity"></product-quantity>
 </ng-template>

</mat-card-actions>

</mat-card>
