<mat-card class="example-card">
<mat-card-header>
<mat-card-title>{{product.productName}}</mat-card-title>
</mat-card-header>
<ng-container *ngIf="product.productImage">
<img mat-card-image [src]="'data:image/jpg;base64,'+product.productImage">
</ng-container>
<mat-card-content>
<p>
{{product.price | currency:'USD'}}
</p>
</mat-card-content>

<mat-card-actions class="card-footer-button">
  <button *ngIf="quantity===0; else updateQuantity"
  (click)="addToCart()"class="btn btn-primary btn-block">
  Add to Cart
 </button>
 <ng-template #updateQuantity>
   
<div class="row no-gutters">
    <div class="col-2">
      <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button>
    </div>
    <div class="col text-center">
      {{quantity}} in cart
    </div>
    <div class="col-2">
      <button class="btn btn-block btn-secondary" (click)="addToCart()">+</button>
    </div>
 </div>
 
 </ng-template>

</mat-card-actions>

</mat-card>
