<div class="container">

      <form class="form-signin" [formGroup]="logInForm" (ngSubmit)="onSubmit(logInForm.value)" novalidate>
      
        <h2 class="form-signin-heading">Please Log in</h2>
        
        <div *ngIf="invalidLogin" class = "alert alert-danger">
        Invalid Username/Password Combination
        </div>
        
        
        <label for="username" class="sr-only">Email address</label>
        <input type="text" id="username" class="form-control" 
        formControlName="username"  placeholder="UserName" >
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" 
        formControlName="password" placeholder="Password">
        
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        Don't have an account -<a routerLink="/sign-up">Sign Up!</a>
      </form>
    </div>