
<div class="container">
  <mat-paginator *ngIf="productlist && productlist.length>0" [length]="totalProductCount"
              [pageSize]="pageSize" [pageIndex]="pageIndex"
              [pageSizeOptions]="pageSizeOptions" (page)="pageclcickEvent($event)">

  </mat-paginator>
  <div class="row">
    <div class="col-3">
      <product-filter [category]="category"></product-filter>
    </div>
    <div class="col">
      <div class="row">

        <ng-container *ngFor="let product of productlist;let i=index">

        <div class="col">
          <product-card [product]="product"></product-card>
        </div>

        <div *ngIf = "(i + 1) % 2 === 0" class="w-100"></div>

      </ng-container>

      </div>
    </div>
  </div>
  <mat-paginator *ngIf="productlist && productlist.length>0" [length]="totalProductCount"
              [pageSize]="pageSize" [pageIndex]="pageIndex"
              [pageSizeOptions]="pageSizeOptions" (page)="pageclcickEvent($event)">
  </mat-paginator>
  </div>
