
<div class="container">
  <mat-paginator *ngIf="productlist && productlist.length>0" [length]="totalProductCount"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageclcickEvent($event)">
  </mat-paginator>
  <div class="row">
    <div class="col-3">
      <div class="list-group sticky-top">
        <a class="list-group-item list-group-item-action"
        [class.active]="category === defaultCategory || !category"
        routerLink="/"
        [queryParams]="{category:defaultCategory}">
          All categories
        </a>
          <a *ngFor="let cat of categoryList" class="list-group-item list-group-item-action"
          routerLink="/"
          [queryParams]="{category:cat.categoryName}"
          [class.active]="category === cat.categoryName">
            {{cat.categoryName}}
          </a>
      </div>
    </div>
    <div class="col">
      <div class="row">

        <ng-container *ngFor="let product of productlist;let i=index">

        <div class="col">
          <mat-card class="example-card">
          <mat-card-header>
          <mat-card-title>{{product.productName}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="product.imageURL">
          <mat-card-content>
          <p>
          {{product.price | currency:'USD'}}
          </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-primary btn-block">Add to Cart</button>
          </mat-card-actions>
          </mat-card>
        </div>

        <div *ngIf = "(i + 1) % 2 === 0" class="w-100"></div>

      </ng-container>

      </div>
    </div>
  </div>
  <mat-paginator *ngIf="productlist && productlist.length>0" [length]="totalProductCount"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageclcickEvent($event)">
  </mat-paginator>
  </div>
